
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9fc;
    
}


.col{
     background-color: #ffffff;
     box-shadow: 10px 10px 40px rgba(10, 10, 10, 0.1);
     padding: 50px 20px 140px 20px;
     width: 400px; 
     margin: 20px 20px 80px 20px; 
    }

h1 {
    font-size: 18px;
}

h2 {
    font-size: 14px;
}

h4 {
    font-size: 12px;
}

